*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

h1{
    color: black;
    margin-bottom: 2%;
    font-family: 'Julius Sans One', sans-serif;
}

p{
    color: black;
    margin-bottom: 3%;
    font-family: 'Julius Sans One', sans-serif;
}

.main-container {
    height: 1000px;
    display: flex;
    padding-top: 5%;
    }

   .texte{
        height: 500px;
        display: flex;
        text-align:center;
        flex-direction: column;
        font-size: 250%;
        animation:slideLeft 10s;
    }

    #pdp{
        height: 100%;
        width: 50%;
        padding: 1%;
        animation:slideLeft 10s ;
    }
    @keyframes slideLeft{
    from{
        transform: translate(50%);
    }
    to{
        transform: translate(0);
    }
}